.layout {
  width: 100%;
  height: 70px;
  background: black;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0rem 1rem;
}

.logo {
  color: white;
  font-size: 2.5rem;
  margin-left: 20px;
}
