@import "./abstracts/mixin.scss";

.recentMatchLayout {
  display: flex;
  transition: all 0.4s;
}

.recentMatchBox {
  background: white;
  width: 350px;
  border-radius: 20px;
  padding-top: 17px;
  padding-bottom: 5px;
  margin-right: 15px;
}

.date {
  text-align: center;
  font-size: 1.2rem;
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px;
}

.homeCardContents {
  @include cardContentsMixin;
  margin-right: 10px;
}

.visitorsCardContents {
  @include cardContentsMixin;
  margin-left: 10px;
}

.cardContents {
  display: flex;
}

.pagination {
  width: 100%;
  height: 30px;
  display: flex;
  justify-content: space-between;
  position: relative;
  bottom: 100px;

  :nth-child(1) {
    @include arrowMixin("Left");
    display: flex;
  }
  :nth-child(2) {
    @include arrowMixin("Right");
  }
}
